name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v3.0.3
      with:
        dotnet-version: 7.0.x
    - name: Build
      run: dotnet build -c Release

    - name: Test
      run: dotnet test --logger "console;verbosity=normal"

    - name: Pack (non-release)
      if: github.event_name != 'release'
      run: dotnet pack -c Release

    - name: Pack and push to nuget.org (release)
      if: github.event_name == 'release'
      run: |
        vertag=(${GITHUB_REF//\// })
        VERSION="${vertag[2]}"
        [[ "${VERSION:0:1}" == "v" ]] && VERSION="${VERSION:1}"
        [[ "$VERSION" =~ ^[1-9][0-9]*\.[0-9]+\.[0-9]+(-[a-z0-9]+\.[0-9]+|)$ ]] || (echo "Incorrect version! ($VERSION)"; exit 1)
        dotnet pack -c Release -p:PackageVersion="$VERSION" -o nupkg
        dotnet nuget push ./nupkg/*.nupkg --source https://api.nuget.org/v3/index.json --skip-duplicate --api-key ${{secrets.NUGET_API_KEY}}
